@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
:root {
  --gray:#080510 ;
  --red: #f32b29;
  --orange: #f55421;
  --yellow: #ffff00;
  --cyan: #27eed9;
  --blue: #099de3;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Arial Rounded MT Bold", sans-serif;
  color: whitesmoke;
}

section {
  height: 100vh;
  width: 100vw;
  background-color: var(--gray)
}

#home {
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  height: 93vh;
  align-items: center;
}

.title p,
#title-button {
  text-shadow: 0 0 15px var(--cyan);
  margin: 0 0 0 32px;
  font-size: calc(3vw + 4vh);
  font-weight: 600;
}
.animation-class {
  color: var(--cyan);
}

.letter {
  transition: color 0.3s ease-out;
  cursor: pointer;
}

nav {
  position: fixed;
  height: 7vh;
  background-color: #181818;
  display: flex;
  width: 100vw;
}

nav a {
  transition: color 0.15s ease-out;
  width: 100vw;
  align-content: center;
  text-align: center;
  padding: 0 8px 0 8px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  border-left: 2px solid #1d1e21;
  border-right: 2px solid #1d1e21;
}

nav a[href="#about"]:hover {
  color: var(--red);
}

nav a[href="#skills"]:hover {
  color: var(--orange);
}

nav a[href="#work"]:hover {
  color: var(--yellow);
}

nav a[href="#contact"]:hover {
  color: var(--cyan);
}

#logo {
  width: 10dvw;
}
#logo img {
  height: 5vh;
  width: auto;
}

#smaller-title {
  font-size: calc(3vh + 4vw);
}

#hello {
  font-size: calc(6vh+ 5vw);
}

#title-marque {
  color: transparent;
  text-shadow: none;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.marque-overlay {
  background-size: 200% 100%;
  background-image: linear-gradient(
    45deg,
    var(--red),
    var(--orange),
    var(--yellow),
    var(--cyan),
    var(--blue)
  );
  background-repeat: repeat;
  background-clip: text;
  animation: gradient 7.5s ease infinite;
}

.marque-overlay span {
  cursor: default;
}
#title-button {
  width: 40%;
  margin: 0;
  text-shadow: none;
  color: whitesmoke;
  text-decoration: none;
  font-size: calc(2vh + 2vw);
  padding: 4px;
  z-index: 2;
  position: relative;
}

#title-button-wrapper {

  border: 1px solid var(--cyan);
  position: relative;
  width: 40%; /* Ensure the wrapper fills the button's width */
  background-size: 200% 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--cyan) 0px,
    var(--cyan) 4px,
    transparent 4px,
    transparent 12px
  );
  background-repeat: repeat;
  animation: gradient 25s linear infinite alternate-reverse;
}
#title-desc {
  font-size: calc(1vh + 1vw);
  color: #5a606b;
  text-shadow: none;
}

@media only screen and (max-width: 786px) and (orientation: portrait) {
  .title p {
    margin-left: 0;
    width: 100vw;
    text-align: center;
  }

  #title-button-wrapper {
    width: 100vw;
    align-items: center;
  }
  #title-button {
    margin-left: 0;
    text-wrap: nowrap;
  }
}

@media (prefers-reduced-motion) {
  .cursor-effect-follower {
    display: none;
  }
}
