
@media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
  :root {
    --gray: #080510;
    --red: #f32b29;
    --orange: #f55421;
    --yellow: #ffff00;
    --cyan: #27eed9;
    --blue: #099de3;
  }
  body {
    background-color: var(--gray);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --gray: #212025;
    --red: #ff6b6b;
    --orange: #ff8c1a;
    --yellow: #ffff66;
    --cyan: #66ffff;
    --blue: #66b2ff;
  }
  body {
    background-color: var(--gray);
  }
  section#about {
    background: linear-gradient(#080510, var(--gray));
  }
}
body {
  margin: 0;
  font-family: "IBM Plex Sans", "Roboto", sans-serif;
  color: whitesmoke;
}

section,
div#home {
  height: 100vh;
  width: 100vw;
  background-color: var(--gray);
}

.title {
  display: flex;
  height: 100vh;
  align-items: center;
}

.title .main-title {
  text-shadow: 0 0 15px var(--cyan);
  margin: 0 0 0 32px;
  font-size: calc(3vw + 4vh);
  font-weight: 600;
}
.animation-class {
  color: var(--cyan);
}

.letter {
  transition: color 0.3s ease-out;
  cursor: pointer;
}

nav {
  z-index: 50;
  position: fixed;
  min-height: 7vh;
  background-color: #181818;
  display: flex;
  width: 100vw;
}

nav a {
  transition: color 0.15s ease-out;
  width: 100vw;
  align-content: center;
  text-align: center;
  padding: 0 8px 0 8px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  border-left: 2px solid #1d1e21;
  border-right: 2px solid #1d1e21;
}

nav a[href="#about"]:hover {
  color: var(--red);
}

nav a[href="#skills"]:hover {
  color: var(--orange);
}

nav a[href="#work"]:hover {
  color: var(--yellow);
}

nav a[href="#contact"]:hover {
  color: var(--cyan);
}

#logo {
  margin-top: 5px;
  border-right: none;
  position: relative;
  width: 128px;
  height: auto;
}

#smaller-title {
  font-size: calc(3vh + 4vw);
}

#hello {
  font-size: calc(6vh+ 5vw);
}

#title-marque {
  color: transparent;
  text-shadow: none;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.tagcloud {
  /*scale: 70%;*/
  /*width: 50vw !important;*/
  /*height: 60vh !important;*/
  z-index: 0;
  font-weight: 600;
  letter-spacing: 0.0625em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
  z-index: -10;
  cursor: default;
  color: var(--cyan);
  padding: 0.5vw;
  font-size: calc(1vh + 0.9vw);
}


.marque-overlay {
  background-size: 200% 100%;
  background-image: linear-gradient(
    45deg,
    var(--red),
    var(--orange),
    var(--yellow),
    var(--cyan),
    var(--blue)
  );
  background-repeat: repeat;
  background-clip: text;
  animation: gradient 7.5s ease infinite;
}

.text-sphere {
  width: 50vw;
}


.marque-overlay span {
  cursor: default;
}
#title-about {
  text-shadow: 0 0 10px var(--red) !important;
}
.sub-title-text {
  width: 45vw;
  font-size: calc(1vw + 1vh) !important;
  color: whitesmoke;
}

.portrait {
  position: relative;
}

.portrait-img {
  width: 25vw !important;
  height: auto !important;
  margin: 10px 10px 10px 32px;
  filter: grayscale(100%);
}


#about-text {
  text-shadow: 0 0 8px var(--red);
}
#skills-flex-con {
  display: flex;
}

.progress-con {
  display: flex;
  margin: 20px;
}


#title-button {
  text-align: center;
  margin: 5px 5px 5px 0;
  z-index: 0;
  text-shadow: none;
  color: whitesmoke;
  text-decoration: none;
  font-size: calc(2vh + 2vw);
  padding: 4px;
  position: absolute;
  background-image: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--cyan);
}

.progress-con {
  padding: 10px;
}
#progress-outer-con {
  width: 50vw;
  /*margin-top: -10vh;*/
}

#progress-outer-con div {
  height: 80vh;
}
#title-button:hover {
  transition: all 0.3s linear;
  background-size: 200% 100%;
  background-image: repeating-linear-gradient(
    45deg,
    var(--cyan) 0px,
    var(--cyan) 6px,
    transparent 6px,
    transparent 12px
  );
  background-repeat: repeat;
  animation: gradient 25s linear infinite alternate-reverse;
  border: 1px solid var(--cyan);
}

.non-landing-title {
  display: contents;
  height: 100vh;
  align-items: start;
}
#title-skills {
  text-shadow: 0 0 10px var(--orange);
}
#skills-text {
  text-shadow: 0 0 8px var(--orange);
}

#title-button-wrapper {
  margin: 0;
}

#title-desc {
  font-size: calc(1vh + 1vw);
  color: #5a606b;
  text-shadow: none;
}

#about-langs-con {
  display: flex;
  max-height: 95vh;
}
.about-langs h1 {
  font-size: calc(2vh + 2.5vw);
  text-align: left;
  border: whitesmoke 2px solid;
  border-radius: 15px;
  height: auto;
  width: 35vw;
  padding: 10px;
}
.no-desktop {
  display: none;
  opacity: 0;
  z-index: -100;
}
.about-langs {
  max-height: 25vh;
  margin: 0 5vw 3vh 6vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.langs-title span {
  font-size: calc(1vh + 1.5vw);
}
.about-langs h1#one {
  margin-top: 0;
  text-shadow: 0 0 20px var(--orange);
}

#two {
  text-shadow: 0 0 20px var(--cyan);
}

#three {
  text-shadow: 0 0 20px var(--yellow);
}

@media only screen and (max-width: 786px) and (orientation: portrait) {

  .title p.main-title {
    margin-left: 0;
    width: 100vw;
    text-align: center;
  }

  #title-button-wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #title-button {
    padding: 10px;
    position: static;
    text-align: center;
  }
  .sub-title-text {
    font-size: calc(1vw + 1vh) !important;
    margin-left: 10vw !important;
    text-align: left !important;
    width: 80vw !important;
  }

  .no-desktop {
    opacity: 1;
  }
  .no-mobile {
    display: none;
  }

  #skills-title-button-wrapper {
    display: flex;
    justify-content: center;
  }

  .about-langs h1 {
    font-size: calc(2.5vh + 4vw);
    line-height: 5vh;
    width: 90vw;
    span {
      font-size: calc(1.5vh + 3vw);
    }
    margin: 0;
    text-align: center;
  }
  #skills-flex-con {
    display: block;
  }
  #progress-outer-con {
    overflow: hidden;
    width: 100vw;
    border: none;
  }


  .tagcloud {
    margin-left: 10px;
    margin-top: -18vh;
    scale: 60%;
    width: 90vw !important;

  }

  #skills-text {
    max-height: 50vh;
  }

  .portrait-img {
    margin: 15px 0 15px 10vw;
    width: 80vw !important
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){

  .tagcloud {
    scale: 70%;
    margin-left: -20vw;
  }

  .text-sphere {
    width: 50vw;
    overflow: hidden;
  }
}